/Zxing-master/.idea
/Zxing-master/.gradle
/Zxing-master/local.properties
/Zxing-master/Zxing-master.iml
/Zxing-master/sample/build
/Zxing-master/sample/*.iml
/Zxing-master/zxing/build
/Zxing-master/zxing/*.iml
